name: repo
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.2

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  flutter_hooks: ^0.18.0
  hooks_riverpod: ^1.0.0-dev.6

flutter:
  uses-material-design: true
